<a href="https://colab.research.google.com/github/Pavankumar327/Projectpresentation-1-Pavan-Kumar-killana-/blob/main/Week_3_Assignment__Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week** **3**:**Assignment** **bold text**

Q1.Calculate the Salary using Python Programming

Read the question carefully and follow the input and output format.

Karen got salary for this month and she spends 20% of her salary for food, 10% of her salary for entertainment and 10% of her salary for travel.If she takes care of other shifts she will get 4% of the salary per day. Given her salary and the number of shifts she handled.Calculate how much she can save in her pocket after spending all these?

Input and Output Format : First line of input consists of an integer, salary. Next line correspond to the number of shifts. Output consist of an integer, 
which is saving.
 1. Print "Salary too large" when salary is greater than 10000. 
 2. Print "Shifts too small" when the shift is less than 0. 
 3. Print "Salary too small" when the salary is less than 0.

Include a function named calculateSal()  to calcuate salary and print saving.

Sample input 1:

 7000

 5

Sample output 1:

 5600

Sample input 2:

 80000

Sample output 2:

 salary too large 

Sample input 3:

 6000

 -1

Sample output 3:

 Shifts too small

In [ ]:
def calculatesal():
  salary = int(input("Enter the salary :"))
  if salary > 10000:
    print ("Salary too large ")
  elif salary < 0:
    print ("Salary too small ")
  else :
    shifts = int(input ("Enter no of shifts :"))
    if shifts < 0:
      print ("Shifts too small ")
    else:
      savings = (salary *0.6)+(salary *0.04*shifts )
      return savings
calculatesal()

Enter the salary :5000
Enter no of shifts :2

3400.0

Q2.write python code to read n as integer,from STDIN. For all non-negative integers i<n ,print i**2.

Example:
The list of non-negative integers that are less than n=3 is[0,1,2]. Print the square of each number on a separate line. 

0

1

4

Input format:

The first and only line contains the integer,n .
Output format:

Print n lines , one correspomding to each i

Sample Input:

5

Sample Output:

0

1

4

9

16

In [ ]:
n=int(input("How many square number you want:"))
print("The square of each number:")
for i in range(n):
 print(i**2)

How many square number you want:6
The square of each number:
0
1
4
9
16
25

In [ ]:
n = int(input("Enter the value:"))
for i in range(n):
  print(i*i)

Enter the value:7
0
1
4
9
16
25
36

Q3.An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:
The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.

Source Task:

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.
 Input format:

 Read the year as integer to test

 Output format:

 The function must return a Boolean value (True/False)

Sample input:

1970

Sample output:

False

In [ ]:
def is_leap(year):
      return bool((year%4==0 and year%100!=0) or (year%400==0))
year=int(input("Enter The Year"))
is_leap(year)

Enter The Year1970

False

In [ ]:
def is_leap1():
      year = int(input("enter the year"))
      if (year % 400 == 0) and (year % 100 == 0):
             return True
      elif (year % 4 ==0) and (year % 100 != 0):
             return True
      else:
             return False
is_leap1()

enter the year1950

False

In [ ]:
def is_leap2(year):
    leap = False
    if year % 4 == 0:
       if year % 100 != 0:
          leap = True
       elif year % 400 == 0:
          leap = True
    return leap
year = int(input())
is_leap2(year)

2000

True